#hebergements
{
    
}
#populaires
{
    
}
#activites
{
   
}
#l_a_i
{
    display: flex;
    justify-content: flex-end;
}
#e_f_r_p
{
    display: flex;
    flex-direction: row;
}
#nos_hebergements
{

}
#assistance
{

}
#info
{
    color: grey;
    font-size: 15px;
}
h3{
    color: gray;
    font-size: 17px;
}
h2
{
    font-size: 17px;
}
