h4
{
    color: gray;
}
ul li a:hover {
    background-color:#D3D3D3;
    border-color:#696969 #DCDCDC #DCDCDC #696969;
} 
a:visited
{
    color: midnightblue;
}
input
{
    border-radius: 10px;
    padding: 5px;
}
button
{
    border-radius: 10px;
    padding: 5px;
    background-color:#0065FC ;
    color: white;
}
::placeholder
{
    color: black;
}

main
{
    border: solid 1px white;
    padding: 5px;
    border-radius: 5px;
}
img {
    width: 10%;
    height: 10%;
}
#filtres
{
    color: black;
}
#thirdUl
{
    text-decoration-color: gray;
}
#firstNav
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
#main2
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
#firstUl
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}
#secondUl
{
    display: flex;
    flex-direction: row;
}
